<table>
  <tr>
    <th>ISBNコード</th>
    <th>書名</th>
    <th>価格</th>
    <th>出版社</th>
    <th>刊行日</th>
    <th>ダウンロード</th>
  </tr>
<% @books.each do |book| %>
  <tr>
    <th><%= book.isbn %></th>
    <th><%= book.title %></th>
    <th><%= book.price %>円</th>
    <th><%= book.publish %></th>
    <th><%= book.published %></th>
    <th><%= book.dl %></th>
  </tr>
<% end %>
</table>